
.page {
	display: grid;
	gap: 1ch;

	align-items: center;
	justify-items: center;

	> .header {
		padding: 1ch;
		grid-column: 1 / -1;
		display: grid;
		grid: 1fr / repeat(2, 1fr);
		gap: 1em;
	}
}

.calculator {
	display: grid;
	grid-template-columns: max-content 1fr;
	padding: 1ch;
	gap: 1ch;

	&::after { border-radius: 1ch; }

	> h1 { grid-column: span 2; }

	> input {
		border: 1px solid black;
		border-radius: .25ch;
		width: 11ch;

		&.important { background-color: rgb(from dodgerblue r g b / .6); }
	}
}