
@use "./const.scss" as const;

.textPrimary { color: const.$color-primary; }

.backPrimary { background-color: const.$color-primary; }

.textSecondary { color: const.$color-secondary; }

.backSecondary { background-color: const.$color-secondary; }

.textSuccess { color: const.$color-success; }

.backSuccess { background-color: const.$color-success; }

.textWarning { color: const.$color-warning; }

.backWarning { background-color: const.$color-warning; }

.textDanger { color: const.$color-danger; }

.backDanger { background-color: const.$color-danger; }

.textInfo { color: const.$color-info; }

.backInfo { background-color: const.$color-info; }