
@layer fix {
	:root { interpolate-size: allow-keywords; }

	:focus-visible { outline: unset; }

	*, ::before, ::after { box-sizing: border-box; }

	input, textarea, select, button { font: inherit; }

	input[type=checkbox] { margin: 0; }

	textarea { overflow: hidden; }

	button { cursor: pointer; }

	body { margin: 0; }
}