
@layer fix {
	:root { interpolate-size: allow-keywords; }

	:focus-visible { outline: unset; }

	input[type=checkbox] { margin: 0; }

	textarea { overflow: hidden; }

	button { cursor: pointer; }

	body { margin: 0; }

	::before, ::after {
		@at-root :not(h1, h2, h3, h4, h5, h6, b, i), & { font: inherit; }

		@at-root *, & { box-sizing: border-box; }
	}
}