
.root {
	// Root of the page (The body has some unwanted behaviours that can't be removed)
	width: 100dvw;
	height: 100dvh;
	overflow: auto;
}

.host {
	// Stays compact (And provides a great layout for children, since I need to provide one)
	display: inline grid;
}

.slot {
	// Stretches the children
	display: grid;
	grid: 1fr / 1fr;
}

.stretch {
	// Fills the parent
	width: 100%;
	height: 100%;
}

.center {
	// Centers the content
	display: flex;
	align-items: center;
	justify-content: center;
}