
.scroll {
	// Scrollable content
	overflow: auto;
	contain: size; // TODO: In which scenarios was this necessary?
}

.root {
	// Root of the page (The body has some unwanted behaviours that can't be removed, so we use a custom element)
	@extend .scroll;
	width: 100cqw;
	height: 100cqh;
}

.host {
	// Container that makes the overflow of its children propagate to its parent
	min-width: min-content;
	min-height: min-content;
}

.slot {
	// Stretches the children
	display: grid;
	grid: 1fr / 1fr;
}

.stretch {
	// Fills the parent
	width: 100%;
	height: 100%;
}

.center {
	// Centers the content
	display: flex;
	align-items: safe center;
	justify-content: safe center;
}