
.host {
	display: flex;
	justify-content: center;
	padding: 2em .5ch;
}

.page {
	display: grid;
	grid: repeat(2, max-content) / 1fr;
	gap: 1em;

	flex: 1;
	max-width: 40em;
	height: max-content; // Permette di scrollare se il contenuto non ci stà

	> .form {
		display: grid;
		grid-auto-rows: max-content;
		gap: 2ch;
	}
}

.field {	
	> label > h4 {
		margin-top: 0;
		font-weight: 500;
		margin-bottom: 1ch;
		
		display: flex;
		align-items: center;
	}

	> input {
		display: block;
		width: 100%;
		padding: .75ch;

		font-family: inherit;
		border: 1px solid #ced4da;
		border-radius: .5ch;

		--shadow-color: black;
		--shadow-opacity: .075;
		box-shadow: 0 .125rem .25rem rgb(from var(--shadow-color) r g b / var(--shadow-opacity));

		&:read-only { background-color: #f0f0f0; }

		&:focus {
			--shadow-color: var(--color-primary);
			--shadow-opacity: .4;
		}

		@media (prefers-color-scheme: dark) {
			--shadow-color: white;
			--shadow-opacity: .2;

			&:read-only { background-color: #0a0a0a; }
		}
	}

	> small {
		font-size: 80%;
		color: var(--color-secondary);
	}
}

.control {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 1ch;

	> button {
		width: 1.5em;
		height: 1.5em;

		color: white;
		border-radius: .5ch;
		border: 0;
	}
}