
@use "@seanalunni/style/const" as const;

.field {	
	> label > h4 {
		margin-top: 0;
		font-weight: 500;
		margin-bottom: 1ch;
	}

	> input {
		display: block;
		width: 100%;
		padding: .75ch;

		font-family: inherit;
		border: 1px solid #ced4da;
		border-radius: .5ch;

		--shadow-color: black;
		--shadow-opacity: .075;
		box-shadow: 0 .125rem .25rem rgb(from var(--shadow-color) r g b / var(--shadow-opacity));

		&:focus {
			--shadow-color: #{const.$color-primary};
			--shadow-opacity: .4;
		}

		@media (prefers-color-scheme: dark) {
			--shadow-color: white;
			--shadow-opacity: .2;
		}
	}

	> small {
		color: const.$color-secondary;
		font-size: 80%;
	}
}