
.clone { background-color: olive; }

.input:read-only { filter: invert(.2); }

.layer {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		z-index: -1;										// Si assicura che lo sfondo non vada sopra al contenuto
		inset: 0;
	
		background-color: #00000030;
		filter: invert(.5);							// Il filtro viene applicato solo allo sfondo semi-trasparente e serve per adattare la pagina alla modalità scura
	}
}

.control {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 1ch;

	> button {
		aspect-ratio: 1 / 1;
		
		color: white;
		border-radius: .5ch;
		padding: 0;
		border: 0;
	}
}