
.grid { display: grid; }

/* .btn:hover {
  background-color: white !important;
  color: black !important;
} */

main {
  width: 100vw;
  height: 100vh;
}

input { box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important; }